@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "partials/variables";
body {
  width: 100vw;
  .container {
    width: 100%;
    .header {
      width: 100%;
      height: 600px;
      background: url(./assets/1\ \(4\).jpg);
      background-size: cover;
      .navbar {
        padding: 2rem 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .links {
          display: flex;
          gap: 2.5rem;
          .homi {
            padding-left: 24.5rem;
          }
        }
        a {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
        }
      }
      .hero-section {
        padding: 4rem 19rem;
        color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        h3 {
          font-size: 52px;
          font-family: "Oleo Script", system-ui;
        }
        h1 {
          text-transform: uppercase;
          font-size: 49px;
          font-weight: 700;
          font-family: Arial, Helvetica, sans-serif;
        }
        p {
          font-size: 20px;
        }
        button {
          padding: 0.8rem 2rem;
          text-transform: uppercase;
          font-size: 1rem;
          border: none;
          background-color: #ffffff;
          color: #614a3d;
        }
      }
    }
    .middle-hero-section {
      display: flex;
      .phone-info {
        display: flex;
      }
      .email-info {
        display: flex;
      }
      .address-info {
        display: flex;
      }
      .hour-info {
        display: flex;
      }
    }
    .about-section {
      width: 100%;
      height: 90vh;
      display: flex;
      padding-top: 7rem;
      margin-bottom: 7rem;
      .left-a-section {
        width: 50%;
        margin-left: 7rem;
        padding-right: 3rem;
        padding-top: 2rem;
        h1 {
          font-family: "Oleo Script", system-ui;
          color: rgba(0, 0, 0, 0.486);
          font-size: 39px;
          margin-bottom: 1rem;
        }
        p {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 13.5px;
          line-height: 24px;
          color: rgba(0, 0, 0, 0.582);
        }
        button {
          padding: 0.7rem 2rem;
          color: #ffffff;
          background-color: #614a3d;
          font-family: Arial, Helvetica, sans-serif;
          border: none;
          font-size: 1rem;
          font-weight: 600;
          margin-top: 2.5rem;
        }

        button:hover {
          background-color: black;
        }
      }
      .right-a-section {
        width: 50%;
        margin-right: 7rem;
      }
    }
    .special-section {
      width: 100%;
      height: 100vh;
      background-color: #f8f9fa;
      padding-top: 5rem;
      margin-bottom: 7rem;
      .upper-special {
        margin-bottom: 3rem;
        h1 {
          font-family: "Oleo Script", system-ui;
          font-size: 45px;
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
          margin-bottom: 0.5rem;
        }
        span {
          display: flex;
          justify-content: center;
          margin-bottom: 0.5rem;
        }
        p {
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
        }
      }
      .lower-special {
        display: flex;
        gap: 1rem;
        margin: 0 1rem;
        .card-one {
          width: 25%;
          height: 17rem;
          background: url(./assets/1\ \(1\).jpg);
          background-size: cover;
          p {
            font-family: "Oleo Script", system-ui;
            font-size: 35px;
            font-weight: 600;
            color: white;
            display: flex;
            justify-content: center;
            margin-top: 8rem;
          }
        }
      }
      .card-two {
        width: 25%;
        height: 17rem;
        background: url(./assets/2.jpg);
        background-size: cover;
        p {
          font-family: "Oleo Script", system-ui;
          font-size: 35px;
          font-weight: 600;
          color: white;
          display: flex;
          justify-content: center;
          margin-top: 8rem;
        }
      }
      .card-three {
        width: 25%;
        height: 17rem;
        background: url(./assets/3.jpg);
        background-size: cover;
        p {
          font-family: "Oleo Script", system-ui;
          font-size: 35px;
          font-weight: 600;
          color: white;
          display: flex;
          justify-content: center;
          margin-top: 8rem;
        }
      }
      .card-four {
        width: 25%;
        height: 17rem;
        background: url(./assets/3.jpg);
        background-size: cover;
        p {
          font-family: "Oleo Script", system-ui;
          font-size: 35px;
          font-weight: 600;
          color: white;
          display: flex;
          justify-content: center;
          margin-top: 8rem;
        }
      }
    }
    .booking-section {
      width: 100%;
      height: 83vh;
      .upperbooking {
        margin-bottom: 4rem;
        h1 {
          font-family: "Oleo Script", system-ui;
          font-size: 45px;
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
          margin-bottom: 0.5rem;
        }
        span {
          display: flex;
          justify-content: center;
          margin-bottom: 0.5rem;
        }
        p {
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
        }
      }
      .lowerbooking {
        width: 100%;
        display: flex;
        margin-left: 7.5rem;
        .left-l-booking {
          width: 40%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
        .right-l-booking {
          width: 40%;
          display: flex;
          flex-direction: column;
          gap: 1rem;
          margin-left: 1.5rem;
        }
      }
      button {
        padding: 0.8rem 6rem;
        color: #ffffff;
        background-color: #614a3d;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-left: 34rem;
      }
      button:hover {
        background-color: black;
      }
    }
    .lower-booking-section {
      width: 100%;
      height: 65vh;
      .lbs {
        height: 80%;
        background: url(./assets/1\ \(5\).jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }
    }
    .menu-section {
      width: 100%;
      height: 80rem;
      .upper-menu {
        margin-bottom: 6rem;
        h1 {
          font-family: "Oleo Script", system-ui;
          font-size: 45px;
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
          margin-bottom: 0.5rem;
        }
        span {
          display: flex;
          justify-content: center;
          margin-bottom: 0.5rem;
        }
        p {
          display: flex;
          justify-content: center;
          color: rgba(0, 0, 0, 0.582);
        }
      }
      .middle-menu {
        display: flex;
        gap: 1.5rem;
        padding: 0 7rem;
        .americano-1-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .vanilah-latah {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 5rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .americano-2-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .cappuccino-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
      }
      .lower-menu {
        display: flex;
        gap: 1.5rem;
        padding: 0 7rem;
        margin-top: 3.5rem;
        margin-bottom: 5rem;
        .regular-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .americano-3-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .cold-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 5rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
        .american-4-koffee {
          position: relative;
          h1 {
            color: #614a3d;
          }
          img {
            border: 1px solid rgba(0, 0, 0, 0.082);
          }
          h3 {
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.623);
            margin-left: 4rem;
            margin-top: 1rem;
          }
          p {
            font-size: 15px;
            font-family: Arial, Helvetica, sans-serif;
            color: rgba(0, 0, 0, 0.582);
            margin-left: 1rem;
            margin-top: 0.5rem;
          }
        }
      }
      button {
        padding: 0.8rem 2rem;
        color: #ffffff;
        background-color: #614a3d;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        font-size: 1rem;
        font-weight: 600;
        margin-top: 2rem;
        margin-left: 37rem;
      }
      button:hover {
        background-color: black;
      }
    }
  }
}
